# Build outputs
bin/
obj/
out/
publish/

# .NET
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.vs/
_ReSharper*/
*.resharper
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
packages/
!**/packages/repositories.config
*.nuget.props
*.nuget.targets
nuget.config

# Visual Studio
.vs/
*.rsuser
*.vsp
*.vspx
*.sap
*.vbw
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Rider
.idea/
*.sln.iml

# Test results
TestResults/
coverage/
*.trx
*.xml
lcov.info
*.coveragexml
coverage.json
coverage.cobertura.xml

# Docker
.dockerignore

# Environment / secrets
.env
.env.*
!.env.example
appsettings.Development.json
appsettings.Local.json
secrets.json

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# Node (ferramentas front/infra)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Kubernetes / Helm
charts/*.tgz

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example

# Misc
*.bak
*.tmp
*.swp
*~
